@font-face {
    font-family: 'Plain Regular';
    src: url('../fonts/Plain-Regular.eot');
    src: url('../fonts/Plain-Regular.eot') format('embedded-opentype'),
        url('../fonts/Plain-Regular.woff2') format('woff2'),
        url('../fonts/Plain-Regular.woff') format('woff'),
        url('../fonts/Plain-Regular.ttf') format('truetype'),
        url('../fonts/Plain-Regular.svg#Plain-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain Medium';
    src: url('../fonts/Plain-Medium.eot');
    src: url('../fonts/Plain-Medium.eot') format('embedded-opentype'),
        url('../fonts/Plain-Medium.woff2') format('woff2'),
        url('../fonts/Plain-Medium.woff') format('woff'),
        url('../fonts/Plain-Medium.ttf') format('truetype'),
        url('../fonts/Plain-Medium.svg#Plain-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
