/***********************
Color
***********************/

$Manrope: 'Manrope', sans-serif;
$Oxygen: 'Oxygen', sans-serif;

$black-color:#000000;
$white-color:#ffffff;
$bg-body:#ffffff;

/***********************
Width - Height
***********************/

$col-md-12:100%;
$col-md-10:83.33%;
$col-md-9:75%;
$col-md-8:66.66%;
$col-md-7:58.23%;
$col-md-6:50%;
$col-md-5:41.67%;
$col-md-4:33.33%;
$col-md-3:25%;
$col-md-2:20%;
$col-md-2-2:16.66%;
$col-md-1:8.33%;
$full-height:100vh;

/***********************
Media query
***********************/

$break-1260:1260px;
$break-1360:1360px;
$break-1200:1200px;
$break-large:1024px;
$break-small:480px;
